@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);





.comment {
    color: #5A5A5A;
    font-size: 25px;
    margin-top: 110px;
    margin-left: 230px;
    font-family: 'Eagle Lake', cursive;
}

.about {
    margin-left:600px;
    text-align: center;
    width: 600px;
    line-height: 30px;
    border: 4px dashed #DC6089;
}

.font {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;
}



 .rabbit_img1 {
    border: none;
    cursor : pointer;
    }
.rabbit_img2 {
    border: none;
    cursor : pointer;
    margin-left: 35%;
    }
.rabbit_img3 {
    border: none;
    cursor : pointer;
    margin-left: 55%;
    }
.rabbit_img4 {
    border: none;
    cursor : pointer;
    margin-left: 85%;
    }