@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

table {
    border: 3px inset gray;
    border-collapse: collapse;
    background-color: pink;
    width: 70%;
    margin-left: 350px;
}

th, td {
    padding: 10px;
    font-family: 'Julius Sans One', sans-serif;

}

.text {
    margin-left: 60px;
    font-size: 60px;
    font-family: 'Oleo Script', cursive;

}
 
img {
    margin-top: 110px;
    margin-left: -140px;
}